body {
  color: #000;
  background: linear-gradient(to right, #e6e097, #535353);
}

.main img {
  margin-right: 2rem;
}
h1 {
  text-align: center;
}
i,
a {
  color: #105ccf;
  font-size: 20px;
}
.club {
  color: #000;
}
i:hover,
a:hover {
  outline: none;
  color: #000;
}
p {
  font-size: 20px;
}

.main {
  font-size: 20px;
}
.title{
  font-style: italic;
}
.Title{
  font-size: x-large;
}


